$clr-main: #2CC5F6;
$clr-secondary: #F2A81D;
$clr-terciary: #36D96F;
$clr-quaternary: #D93A2B;
$clr-white: #fcfcfc;
$clr-black: #1d1b1b;

$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$ff-main: "Press Start 2P", sans-serif, Arial;
$ff-secondary: "Poppins", sans-serif, Arial;

$fs-sm: 1.25rem; // 20px
$fs-md: 1.563rem; // 25px
$fs-xmd: 2rem; // 30px
$fs-xxmd: 3rem; // 42px
$fs-lg: 3.375rem; // 54px
$fs-xlg: 3.75rem; // 60px
$fs-xxlg: 4.688rem; // 75px
$fs-gt: 8.563rem; // 137px
